{% load staticfiles %}

<html>
<head>
    <title>Income/Outcome Registry</title>

    <link rel="stylesheet" href="{% static 'registry/jquery-ui-themes/themes/smoothness/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'registry/css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'registry/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jura&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock %}
    
    <script src="{% static 'registry/jquery.js' %}"></script>
    <script src="{% static 'registry/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'registry/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'registry/js/jquery.datetimepicker.full.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>

{% block menu %}
<div id="mainmenu">
    <span><a href="{% url 'registry:index' %}">główna</a></span>
    <span><a href="{% url 'registry:billings' %}">rozliczenia</a></span>
    <span><a href="{% url 'registry:list_io' %}">wszystkie wydatki</a></span>
    <span><a href="{% url 'registry:report' %}">generator raportów</a></span>
</div>
{% endblock %}

<div id="content-wrapper">
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>