{% extends 'registry/base.html' %}

{% load staticfiles %}

{% block scripts %}
<script language="javascript">
$(function() {
    $('#id_registered').datepicker();
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'registry/io_form.css' %}">
<link rel="stylesheet" href="{% static 'registry/io_list.css' %}">
{% endblock %}

{% block content %}
<form name="io" id="io" method="post" action="{% url 'registry:edit_io' io_id %}">
    {% csrf_token %}

    {% include "registry/io_form.html" %}
    
    <div><label></label><input type="submit" value="Zmień"></div>
</form>
{% endblock %}