{% extends 'registry/base.html' %}

{% block scripts %}
<script language="javascript">
$(function() {
    $('#id_registered').datepicker().datepicker('setDate', new Date());
});
</script>
{% endblock %}  

{% block content %}
<div><a href="{% url 'registry:list_io' %}">wszystkie wpisy</a></div>

<form name="io" id="io" method="post" action="{% url 'registry:index' %}">
    {% csrf_token %}

    {% include "registry/io_form.html" %}
    
    <div><input type="submit" value="Add"></div>
</form>

{% if ios %}
{% include "registry/io_list.html" %}
{% endif %}

{% endblock %}