{% extends 'registry/base.html' %}

{% load staticfiles %}

{% block scripts %}
<script language="javascript">
$(document).ready(function() {
    $('#id_registered').datepicker({dateFormat: "yy-mm-dd"}).datepicker('setDate', new Date());
});
</script>
{% endblock %}  

{% block css %}
<link rel="stylesheet" href="{% static 'registry/io_form.css' %}">
<link rel="stylesheet" href="{% static 'registry/io_list.css' %}">
{% endblock %}

{% block content %}
<form name="io" id="io" method="post" action="{% url 'registry:index' %}">
    {% csrf_token %}

    {% include "registry/io_form.html" %}
    
    <div id="id_submit_div"><label></label><input type="submit" value="Dodaj"></div>
</form>

{% if ios %}
<div class="header middle">Ostatnio dodane</div>
{% include "registry/io_list.html" %}
{% endif %}

{% endblock %}