{% load staticfiles %}

<table id="io_list">
<thead>
<tr>
    <th>Nazwa</th>
    <th>Typ</th>
    <th>Kwota</th>
    <th>Data rozliczenia</th>
    <th>Kategoria</th>
    <th>Płatność</th>
    <th colspan="2"></th>
</tr>
</thead>
<tbody>
{% for io in ios %}
<tr class="{% cycle 'odd' 'even' %}">
    <td style="width: 30%">{{ io.name }}</td>
    <td>{{ io.get_type_display }}</td>
    <td>{{ io.amount }}</td>
    <td>{{ io.registered|date:"d-m-Y" }}</td>
    <td>{{ io.category|default_if_none:"" }}</td>
    <td>{{ io.payment_method|default_if_none:"" }}</td>
    <td style="text-align: right; width: 20px;">        
        <a href="{% url 'registry:edit_io' io.id %}" title="edit"><img src="{% static 'registry/icons/edit.png' %}" alt="edit" /></a>
    </td>
    <td style="text-align: right; width: 20px;">
        <a href="{% url 'registry:delete_io' io.id %}" title="delete"><img src="{% static 'registry/icons/delete.png' %}" alt="delete" /></a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>