<table style="border-spacing: 5px 2px;">
<tr>
    <th>Nazwa</th>
    <th>Typ</th>
    <th>Kwota</th>
    <th>Data rozliczenia</th>
    <th>Kategoria</th>
    <th>Płatność</th>
</tr>
{% for io in ios %}
<tr>
    <td>{{ io.name }}</td>
    <td>{{ io.get_type_display }}</td>
    <td>{{ io.amount }}</td>
    <td>{{ io.registered|date:"d-m-Y" }}</td>
    <td>{{ io.category|default_if_none:"" }}</td>
    <td>{{ io.payment_method|default_if_none:"" }}</td>
    <td><a href="{% url 'registry:delete_io' io.id %}">delete</a></td>
    <td><a href="{% url 'registry:edit_io' io.id %}">edit</a></td>
</tr>
{% endfor %}
</table>