{% extends 'registry/base.html' %}

{% load staticfiles %}

{% block scripts %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'registry/report_view.css' %}">
<link rel="stylesheet" href="{% static 'registry/report.css' %}">
<link rel="stylesheet" href="{% static 'registry/io_list.css' %}">
{% endblock %}

{% block content %}
<div class="header first">Podsumowanie</div>

<div class="section">
    <span class="label">Raport za:</span><span class="value">{{ start_date }} - {{ end_date }}</span>
</div>

<div class="section">
    <span class="label">Przychód:</span><span class="value income">{{ total_income }}</span>
    <span class="label">, rozchód:</span><span class="value outcome">{{ total_outcome }}</span>
    <span class="label">, bilans:</span><span class="value">{{ total_balance }}</span>       
</div>

<div class="section">
<div>Rozliczenie per kategoria:</div>
{% for name, transfer in category_transfers.items %}
    <div>
        <span class="label">{{ name|default_if_none:'Brak kategorii' }}:</span>
        {% if transfer.income != 0 %}
            <span class="value income">{{ transfer.income }}</span>
        {% endif %}
        {% if transfer.outcome != 0 %}
            <span class="value outcome">{{ transfer.outcome }}</span>
        {% endif %}
        {% if transfer.income != 0 and transfer.outcome != 0 %}
            <span class="value">{{ transfer.income|sub:transfer.outcome }}</span>
        {% endif %}
    </div>
{% endfor %}
</div>

{% if ios %}
<div class="header middle">Wydatki</div>
{% include "registry/io_list.html" %}
{% endif %}

{% endblock %}