{% extends 'registry/base.html' %}

{% load staticfiles %}

{% block scripts %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'registry/report_view.css' %}">
<link rel="stylesheet" href="{% static 'registry/report.css' %}">
<link rel="stylesheet" href="{% static 'registry/io_list.css' %}">
{% endblock %}

{% block content %}
<div class="section">
    <span class="label">Raport za:</span><span class="value">{{ start_date }} - {{ end_date }}</span>
</div>

<div class="section">
    <span class="label">Przychód:</span><span class="value">{{ total_income }}</span>
    <span class="label">, rozchód:</span><span class="value">{{ total_outcome }}</span>
    <span class="label">, bilans:</span><span class="value">{{ total_balance }}</span>       
</div>

<div class="section">
<div>Rozchód per kategoria:</div>
{% for name, amount in category_outcome.items %}
<div><span class="label">{{ name|default_if_none:'Brak kategorii' }}:</span><span class="value">{{ amount }}</span></div>
{% endfor %}
</div>

{% if ios %}
{% include "registry/io_list.html" %}
{% endif %}

{% endblock %}