{% extends 'registry/base.html' %}

{% load staticfiles %}

{% block scripts %}
<script language="javascript">
$(function() {
    $('#start_date').datepicker({dateFormat: "yy-mm-dd"});
    $('#end_date').datepicker({dateFormat: "yy-mm-dd"}).datepicker('setDate', new Date());
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'registry/report_generator.css' %}">
{% endblock %}

{% block content %}
<form name="report" id="report" action="{% url 'registry:report_view' %}">
    <div>
        <label for="start_date">Od:</label><input type="date" id="start_date" name="start_date" />
        <label for="end_date">Do:</label><input type="date" id="end_date" name="end_date" />
        <input type="submit" value="Zobacz" />
    </div>
</form>
{% endblock %}