body {
    padding: 0;
    margin: 0;
}

#mainmenu {
    margin-bottom: 20px;
    background-color: #aaa;
    border-bottom: 5px solid #999;
    padding: 15px 2px;
    margin-bottom: 40px;
    color: #333;
}

#mainmenu a {
    text-decoration: none;
    color: #fff;
    font-variant: small-caps;
    margin-left: 10px;
    font-family: Audiowide, sans-serif;
}


#mainmenu a:hover {
    color: #ffb400;
}

#content-wrapper {
    text-align: center;
}

#content {
    margin: auto auto;
    width: 70%;
    text-align: left;
    font-family: Comfortaa, sans-serif;
}
