body {
    padding: 0;
    margin: 0;
    background-color: #eee;
}

a {
    color: #31698a;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #31698a; 
}

input {
    font-family: Comfortaa, sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

input[type=text], input[type=number] {
    border: 3px solid #ddd;
    font-size: 1em;
}

input[type=submit] {
    font-size: 1em;
}

select {
    font-size: 1em;
}

#mainmenu {
    margin-bottom: 20px;
    background-color: #aaa;
    border-bottom: 5px solid #999;
    padding: 15px 2px;
    margin-bottom: 40px;
    color: #333;
}

#mainmenu a {
    text-decoration: none;
    color: #fff;
    font-variant: small-caps;
    margin-left: 20px;
    font-family: Audiowide, sans-serif;
    font-size: 1.1em;
}


#mainmenu a:hover {
    color: #ffb400;
    color: #777;
    background-color: inherit;
}

#content-wrapper {
    text-align: center;
}

#content {
    margin: auto auto;
    width: 70%;
    text-align: left;
    font-family: Comfortaa, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

div.header {
    font-size: 1.25em;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    border-left: 5px solid #999;
    padding-left: 5px;
}

div.middle {
    margin-top: 40px;
}