form#io {
    text-align: left;
    width: 600px;
    margin: auto auto;
}

form#io input[type=text], input[type=number] {
    border: 3px solid #ddd;
    padding: 10px;
    font-family: Comfortaa, sans-serif;
    font-size: 1em;
}

form#io select {
    padding: 10px;
    font-family: Comfortaa, sans-serif;
    font-size: 1em;
}

form#io input[type=submit] {
    padding: 10px;
    font-family: Comfortaa, sans-serif;
    font-size: 1em;
}

form#io div {
    margin-bottom: 10px;
}

form#io label {
    width: 200px;
    display: inline-block;
}

form#io #id_name {
    width: 400px;
}

form#io #id_registered {
    width: 160px;
}

