form#io {
    text-align: left;
    width: 600px;
    margin: auto auto;
}

form#io div {
    margin-bottom: 10px;
}

form#io label {
    width: 200px;
    display: inline-block;
}

form#io #id_name {
    width: 400px;
}

form#io #id_registered {
    width: 160px;
}
