#io_list_filter {
    margin-bottom: 40px;
}

#io_list_filter label {
    display: inline-block;
    margin-right: 5px;
}

#id_start_date,
#id_end_date {
    width: 160px;
}

#io_list_filter label {
    margin-left: 20px;
}

#io_list_filter label[for=id_start_date] {
    margin-left: 0px;
}

#io_list_filter .middle {
    margin-left: 20px;
}
