form#report {
    text-align: left;
    width: 600px;
    margin: auto auto;
    margin-bottom: 40px;
}

form#report input[type=submit] {
    margin-left: 20px;
}

form#report div {
    margin-bottom: 10px;
}

form#report label {
    display: inline-block;
    margin-right: 5px;
}

form#report label[for=end_date] {
    margin-left: 20px;
}
