span.label {
    color: #000;
}

span.value {
    color: #560064;
    color: #333;
    color: #417a73;
    color: #317a71;
    margin-left: 10px;
}

div.section {
    margin-bottom: 10px;
}

span.income {
    color: green;
}

span.outcome {
    color: red;
}
